footer {
  text-align: center;
  margin: auto;
  width: 30%;
}

.welcome {
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}

body {
  color: blue;
}

.card {
  width: 60%;
  margin: auto;
}
