<!--
============================================
; Title:  index.ejs (Assignment 6.4)
; Author: David Tarvin
; Date:   02 April 2019
; Description: Employee Management System
;===========================================
-->

<!DOCTYPE html>
<html lang="en">
  <% include header %>
  <body>
    <% include navbar %>
    <div class="welcome container-fluid">
      <h2>Welcome to the</h2>
      <h1>WebElite Employee Management System</h1>
    </div>

    <% include footer %>
    <% include scripts %>
  </body>
</html>
