<% if (employees.length) { %>
<h2>-- Employee Listing --</h2><br>
<a href="/new">Add New</a>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% employees.forEach(function(entry) { %>
    <tr>
      <td><%= entry.name %></td>
    </tr>
  </tbody>
  <% }) %>
</table>
<% } else { %>
  No entries! <a href="/new">Add one!</a>
<% } %>
