<!DOCTYPE html>
<html lang="en">
  <% include header %>

<body>
  <% include navbar %>

  <div class="container" role="main" style="width: 50%;">
    <br><br>

    <h2>-- Employee Entry Page --</h2>
    <form action="/process" method="POST">
      <div class="form-group">
        <label for="txtName">Name:</label>
        <input type="text" class="form-control" id="txtName" name="txtName">
      </div>

      <div class="form-group">
        <!-- CSRF Token -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button type="submit" class="btn btn-secondary float-right">
          Submit
        </button>
      </div>
    </form>
    <br><br>
    <a href="/list">Return to Employees</a>
  </div>

  <% include scripts %>
</body>
</html>
